on: [workflow_dispatch ]

jobs:
  run_script:
    runs-on: ubuntu-latest
    name: create_and_save
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Execute
        run: node test.js
      - name: Save
        run: git add test_file.txt
      - name: Commit
        run: |
        git config --global user.name 'Julian'
        git config --global user.email 'juddiazci@unal.edu.co'
        git commit -m "test commit"
      - name: Push
        run: git push      